<html>
    <head></head>
    <body>
        <h1>
            Delete Book
        </h1>
        <p>Are you sure you want to delete {{singleBook.title}}</p>
        <form action="{{url_for('bookSearchDelete', book_id=singleBook.id)}}" method = 'POST'>
            <input type='submit' value='Delete'>
        </form>
        <a href="{{url_for('showBook')}}">Cancel</a>
    </body>
</html>