<html>
	<head> </head>
	<body>
		<h1>Edit Book</h1>
		<p>Name:</p>
		<form action="{{url_for('bookSearchEdit', book_id=singleBook.id)}}" method = 'POST'>
			<input type='text' size='30' name='name' placeholder={{singleBook.title}}>
			<input type='submit' value='Submit'>
		</form>
		<a href="{{url_for('showBook')}}">Cancel</a>
	</body>
</html>