<html>
    <head></head>
    <body>
        <h1>
            Books!
        </h1>
        {% if single_book == [] %}
			<p>No books exist</p>	
		{% else %}
            {% for i in books %}
                <div> 
                    <p>{{i.title}}</p>
                    <a href="{{url_for('editBook', book_id=i.id)}}">Edit Book</a>
                    <br/> <br/>
                    <a href="{{url_for('deleteBook', book_id=i.id)}}">Delete Book</a>
                    <br/> <br/>
                </div>
            {% endfor %}
		{% endif %}
    </body>
</html>